<!DOCTYPE html>
<html>
<head>
    <title>Medics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Система онлайн запису до лікарів Medics{% if session["login"] %}, вітаємо, {{ session["login"] }}{% endif %}</h1>
    <a href="/profile" style="font-size: 30px;"><b>Мій профіль</b></a>
    <h1>Лікарі {{ test }}</h1>
    <div class="cards">
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>